python-dotenv==0.*
SQLAlchemy==1.4.*
psycopg2==2.*
Telethon==1.*
pyromod==1.5
pyrogram1==0.*
TgCrypto==1.*
pyrogram==2.*
pyrogram
requests
wget
asyncio
datetime
aiofiles
youtube_dl
aiohttp
yt_dlp
opencc
telegraph
youtube_search
pytube
Python_ARQ
TgCrypto
motor
pymongo
aiofiles
dnspython
python-dotenv
psutil
heroku3
